@use "../../styles/variables.scss" as *;

.projects-section {
  padding: 4em 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    margin: 1em auto 1em;
    color: $color-primary;
    font-size: $font-size-dekstop-h2;
    font-weight: 400;
    max-width: 30em;
    line-height: 1.4;
  }

  .filters-title {
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .filter-icon {
    margin-bottom: 0.5em;
    color: $color-primary;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    button {
      background: none;
      border: 2px solid $color-primary;
      color: black;
      padding: 0.3em 1.5em;
      border-radius: 2em;
      cursor: pointer;
      transition: 0.3s;
      font-size: 0.9em;
      font-weight: 600;

      &.active {
        background-color: $color-primary;
        color: $color-accent;
      }
    }
  }

  .error-message {
    text-align: center;
    color: #d9534f;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .tech-logos {
    display: flex;
    gap: 2em;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 1rem;

    .no-projects {
      grid-column: 1 / -1; // occupe toute la largeur de la grille
      text-align: center;
      font-style: italic;
      color: #666;
      margin-top: 1em;
    }
  }
}

@media (max-width: 1024px) {
  .projects-section {
    .section-title {
      font-size: $font-size-tablet-h2;
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1em;
    }

    .filters-title {
      color: $color-primary;
      font-size: 1em;
      font-weight: 600;
      margin-top: 0;
    }

    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding: 4em 1em;
    .section-title {
      font-size: $font-size-tablet-h2;
      margin-bottom: 2em;
    }

    .projects-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 3em;
    }

    .filters {
      button {
        font-size: 0.8em;
      }
    }

    .filters-title {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .filter-icon {
      width: 30px;
      height: 30px;
    }
  }
}
