@use "../../styles/variables.scss" as *;

footer {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;

  .links-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 0.5em;

    .icon {
      width: 40px;
      height: 40px;
    }
  }

  .mention {
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  p {
    margin-top: 0;
    text-align: center;
    font-family: $main-police;
    font-size: 0.9em;
    color: $color-light;
  }
}

@media (max-width: 768px) {
  footer {
    .links-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7em;
      padding-bottom: 0.5em;

      .icon {
        width: 30px;
        height: 30px;
      }
    }

    p {
      font-size: 0.7em;
    }
  }
}
