$color-primary: #30464a;
$color-light: #ffffff;
$color-accent: #f09f81;
$header-police: "Nunito", sans-serif;
$main-police: "Monserrat", sans-serif;
$fontsize-dekstop-h1: 4em;
$font-size-dekstop-h2: 2.5em;
$font-size-dekstop-written1: 1.5em;
$font-size-dekstop-written2: 1.25em;
$fontsize-tablet-h1: 3em;
$font-size-tablet-h2: 1.25em;
$font-size-tablet-written1: 0.9em;
$font-size-tablet-written2: 0.7em;
$fontsize-mobile-h1: 2em;
$font-size-mobile-h2: 1.4em;
$font-size-mobile-written1: 1em;
$font-size-mobile-written2: 0.9em;
