$color-primary: #30464a;
$color-light: #ffffff;
$color-accent: #f09f81;
$header-police: "Nunito", sans-serif;
$main-police: "Monserrat", sans-serif;
$fontsize-dekstop-h1: 4em;
$font-size-dekstop-h2: 2.5em;
$font-size-dekstop-written1: 1.5em;
$font-size-dekstop-written2: 1.25em;
